{% extends "base.html" %}

{% block sidebar %}
<ul><li><a href="/pincode/all/">Main Directory</a></li>
	<ul><li><a href="/pincode/all/sort_by_pincode">(Pincode Sorted)</a></li>
		<li><a href="/pincode/all/sort_by_district">(District Sorted)</a></li>
		<li><a href="/pincode/all/sort_by_state">(State Sorted)</a></li>
	</ul>
	<li><a href="/admin/">Admin Panel</a></li>
	<li><a href="/pincode/create/">Create New Entry</a></li>
	<!--li><a href="/pincode/search_items">Search</a></li-->
</ul>

<h3>Search</h3>



{% endblock %}


{% block content %}
	<h1>Pincode Directory</h1><br>
	{% for x in pincodes %}
	<div>
		<h2>
			<a href="/pincode/get/{{x.id}}">{{ x.pincode }}</a>
		</h2>
		<p> {{ x.office_name }},
			{{ x.district_name }},	
			{{ x.state_name}}
		</p>
	</div>
	{% endfor %}
{% endblock %}